*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Open Sans";
    color: #fff;
}
section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../images/Cool-Wallpapers-HD.jpg ');
    background-size: cover;
    background-position: center;
}
 section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase ;
}
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}
section p{
    font-size: 25px; 
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: lowercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}
section .btnone{
    /*background: #00b894;*/
     background: #fff ;
     color: #000; 
 }

 .btnone:hover{
    background: #00b894;
    color: white;
 } 
 section .btntwo{
    background: #00b894;
    color: white;
 }

 .btntwo:hover{
    background: #fff ;
    color: #000; 
 }
 main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; color: white;
}